/* frontend/src/pages/MemberDashboard.css */

.dashboard {
  background-color: #A1D8B5;
  padding: 20px;
  min-height: 100vh;
}

.Welhead {
  color: navy;
  text-align: center;
  position: absolute;
  top: 119px;
  left: 638px; /* (1641px - 364.99px) / 2 */
  width: 364.99px;
}
            

.Selhead {
  color: #135E4B;
  text-align: center;
  position: absolute;
  
}
